<!DOCTYPE html>
<html style="background-color: darkgray;" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DATABASE PROJECT</title>
    <!-- <script type="text/javascript">
      function disp(myid) {
        document.getElementById(myid).style.display = "block";
      }
    </script> -->
    <style>
      ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #333;
      }
      ul:after {
        display: block;
        content: " ";
        clear: both;
        float: none;
      }
      ul.menu > li {
        float: left;
        position: relative;
      }
      ul.menu > li > a {
        display: block;
        padding: 10px;
        color: white;
        background-color: #333;
        text-decoration: none;
      }
      ul.menu > li > a:hover {
        background-color: black;
      }
      ul.submenu {
        display: none;
        position: absolute;
        width: 120px;
        top: 37px;
        left: 0;
        background-color: white;
        border: 1px solid #333;
      }
      ul.submenu > li {
        display: block;
      }
      ul.submenu > li > a {
        display: block;
        padding: 10px;
        color: white;
        background-color: #333;
        text-decoration: none;
      }
      ul.submenu > li > a:hover {
        text-decoration: underline;
      }
      ul.menu > li:hover > ul.submenu {
        display: block;
      }

      .active {
        background-color: #4caf50;
      }

      table {
        border: 1px solid grey;
        margin: auto;
      }

      th {
        border: 1px solid grey;
      }

      td {
        border: 1px solid grey;
        text-align: center;
      }
    </style>
  </head>
  <ul class="menu">
    <li>
      <a href="/searchsong">Поиск песни</a>
    </li>
    <li>
      <a href="/create">Добавить песню</a>
    </li>
    <li>
      <a href="/statistic">Статистика</a>
    </li>
    <li class="submenu">
      <a
        ><img
          src="https://image.flaticon.com/icons/png/512/60/60746.png"
          width="16"
          height="16"
      /></a>
      <ul class="submenu">
        <li><a href="">IMPORT</a></li>
        <li><a href="">EXPORT</a></li>
      </ul>
    </li>
  </ul>
  <body>
    <!-- <ul>
      <% songs.forEach(function(song){ %>
      <li>
        <b>
          <%= song.title %>
        </b>
        <br />
        <%= song.artist %>
        <br />
        <%= song.string %>
        <br />
        <%= song.lastword %>
      </li>
      <br />
      <% }); %>
    </ul> -->
    <br />
    <br />
    <input
      style="width: 50%; margin-left: 300px;"
      type="text"
      name="word"
      id="myword"
      placeholder="Введите слово"
    />
    <button id="search" onClick="disp('table')">Искать</button>
    <!-- <button id="stats">Статистика</button> -->
    <br />
    <!-- <script>
      const FindSongButton = window.document.getElementById("FindSong");
      FindSongButton.addEventListener("click", function() {
        alert("hello");
        Song.find({ lastword: "сколько" }).exec(function(err, songs) {
          if (err) throw err;
        });
        alert("songs");
      });
    </script> -->
    <br />
    <table id="table" style="width: 80%; ">
      <tr>
        <th>Автор</th>
        <th>Название песни</th>
        <th>Строка</th>
        <th>More</th>
      </tr>
      <% songs.forEach(function(song){ %>
      <tr>
        <td>
          <%= song.artist %>
        </td>
        <td>
          <%= song.title %>
        </td>
        <td>
          <%= song.string %>
        </td>
        <td>
          <a href="" style="color: blue;">Текст</a>
        </td>
      </tr>
      <% }); %>
    </table>

    <script src="../main.js"></script>
  </body>
</html>
