<!DOCTYPE html>
<html style="background-color: darkgray;" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DATABASE PROJECT</title>
    <style>
      ul {
        border-radius: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(51, 51, 51);
      }
      button {
        display: inline-block;
        color: rgb(51, 51, 51);
        font-weight: 700;
        text-decoration: none;
        user-select: none;
        padding: 0.5em 2em;
        outline: none;
        border: 2px solid;
        border-radius: 5px;
        transition: 0.2s;
      }
      button:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      button:active {
        background: rgb(99, 98, 98);
      }
      li {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        font-size: 115%;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: #111;
      }

      .active {
        background-color: #4caf50;
      }

      table {
        border: 1px solid grey;
        margin: auto;
      }

      th {
        border: 1px solid grey;
      }

      td {
        border: 1px solid grey;
        text-align: center;
      }
    </style>
  </head>
  <ul>
    <li>
      <a href="/"
        ><img
          src="http://s1.iconbird.com/ico/0612/GooglePlusInterfaceIcons/w128h1281338911640home.png"
          width="17"
          height="17"
      /></a>
    </li>
    <li
      style=" color: white;
        text-align: center; margin-left: 600px; "
    >
      Поиск песни
    </li>
  </ul>
  <body>
    <br />
    <br />
    <input
      style="width: 40%; margin-left: 420px; border-radius: 5px"
      type="text"
      name="word"
      id="arttitl"
      placeholder="Введите исполнителя песни"
    />

    <input
      style="width: 40%; margin-left: 420px; margin-top: 5px; border-radius: 5px"
      type="text"
      name="word"
      id="titl"
      placeholder="Введите название песни"
    />
    <br />
    <button id="searchsong" style="margin-left:640px; margin-top: 5px">
      Искать
    </button>

    <br />
    <br />
    <table style="width: 60%;">
      <tr>
        <th>Автор</th>
        <th>Название песни</th>
        <th>Просмотр текста</th>
        <th>Удаление песни</th>
      </tr>
      <% songs.forEach(function(song){ %>
      <tr>
        <td>
          <%= song.artist %>
        </td>
        <td>
          <%= song.title %>
        </td>
        <td>
          <a
            href="/text?a=<%=song.artist%>&b=<%=song.title%>"
            style="color: blue;"
            >Текст</a
          >
        </td>
        <td>
          <a
            href="/delete?a=<%=song.artist%>&b=<%=song.title%>"
            style="color: red;"
            >Удалить</a
          >
        </td>
      </tr>
      <% }); %>
    </table>

    <script src="../mainsearch.js"></script>
  </body>
</html>
